{%- if section.settings.background != settings.background and section.settings.background != 'rgba(0,0,0,0)' -%}
  {%- assign blends_with_background = false -%}
{%- else -%}
  {%- assign blends_with_background = true -%}
{%- endif -%}
{% if section.settings.all_tabs != blank %}
  {% assign all_tabs = section.settings.all_tabs | split: ',' %}
{% endif %}
<style>
  #shopify-section-{{ section.id }} {
    {%- if section.settings.background == 'rgba(0,0,0,0)' -%}
      {%- assign section_background = settings.background -%}
    {%- else -%}
      {%- assign section_background = section.settings.background -%}
    {%- endif -%}

    {%- if section.settings.text_color == 'rgba(0,0,0,0)' -%}
      {%- assign heading_color = settings.heading_color -%}
      {%- assign text_color = settings.text_color -%}
    {%- else -%}
      {%- assign heading_color = section.settings.text_color -%}
      {%- assign text_color = section.settings.text_color -%}
    {%- endif -%}

    {%- if section.settings.button_background == 'rgba(0,0,0,0)' -%}
      {%- assign button_background = settings.primary_button_background -%}
    {%- else -%}
      {%- assign button_background = section.settings.button_background -%}
    {%- endif -%}

    {%- if section.settings.button_text_color == 'rgba(0,0,0,0)' -%}
      {%- assign button_text_color = settings.primary_button_text_color -%}
    {%- else -%}
      {%- assign button_text_color = section.settings.button_text_color -%}
    {%- endif -%}

    {%- if section.settings.button_hover_bg == blank -%}
    {%- assign button_hover_bg = settings.primary_button_text_color -%}
    {%- else -%}
    {%- assign button_hover_bg = settings.button_hover_bg -%}
    {%- endif -%}

    {%- if section.settings.button_hover_text == blank -%}
    {%- assign button_hover_text = settings.primary_button_background -%}
    {%- else -%}
    {%- assign button_hover_text = settings.button_hover_text -%}
    {%- endif -%}

    --heading-color: {{ heading_color.red }}, {{ heading_color.green }}, {{ heading_color.blue }};
    --text-color: {{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};
    --primary-button-background: {{ button_background.red }}, {{ button_background.green }}, {{ button_background.blue }};
    --primary-button-text-color: {{ button_text_color.red }}, {{ button_text_color.green }}, {{ button_text_color.blue }};
    --primary-button-hover-bg: {{ button_hover_bg.red }}, {{ button_hover_bg.green }}, {{ button_hover_bg.blue }};
    --primary-button-hover-text: {{ button_hover_text.red }}, {{ button_hover_text.green }}, {{ button_hover_text.blue }};

    --prev-next-button-background: {{ settings.background.red }}, {{ settings.background.green }}, {{ settings.background.blue }};
    --prev-next-button-color: {{ settings.text_color.red }}, {{ settings.text_color.green }}, {{ settings.text_color.blue }};
    --section-products-per-row: 3;
  }

  @media screen and (min-width: 741px) {
    #shopify-section-{{ section.id }} {
      --section-products-per-row: 3;
    }
  }

  @media screen and (min-width: 1000px) {
    #shopify-section-{{ section.id }} {
      --section-products-per-row: 3;
    }
  }

  @media screen and (min-width: 1200px) {
    #shopify-section-{{ section.id }} {
      --section-products-per-row: 3;
    }
  }

  .shopify-section--ako-featured-collections .product-list__inner {
    overflow: unset;
  }

  .ako-card {
    box-shadow: rgb(211, 212, 213) 0px 6px 24px 0px;
  }

  .ako-card .ako-cart-img-wrapper img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .ako-card-info {
    padding: 0.5rem 1.5rem;
  }

  .ako-card-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 1.5rem;
  }
  .ako-card-subtitle {
    font-size: 16px;
    margin: 0 0 1rem 0;
    font-weight: 400;
  }
  .ako-cart-img-wrapper {
    position: relative;
  }
  .ako-card-button-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .35s ease-in-out;
  }
  .ako-cart-img-wrapper:hover .ako-card-button-wrapper {
    opacity: 1;
  }
  .ako-card-button-wrapper .ako-btn, .ako-card-button-wrapper-mobile .ako-btn {
    display: block;
    width: 100%;
  }
  
  .ako-card-button-wrapper .ako-btn:hover, .ako-card-button-wrapper-mobile .ako-btn:hover {
    background: rgb(var(--primary-button-hover-bg));
    color: rgb(var(--primary-button-hover-text));
    border-color: rgb(var(--primary-button-hover-bg));
  }
  .ako-card-button-wrapper .ako-btn:first-of-type, .ako-card-button-wrapper-mobile .ako-btn:first-of-type {
    margin-bottom: .5rem;
  }
  .ako-card-button-wrapper-mobile {
    display: none;
  }
  @media screen and (max-width: 741px) {
    #shopify-section-{{ section.id }} .product-list__inner {
      display: grid;
      grid-template-columns: repeat(3, 300px);
      grid-gap: 2rem;
      overflow: unset;
      padding-bottom: 2rem;
    }
    .ako-card-info {
      padding: 1.5rem 1.5rem;
    }
    .ako-card-title {
      font-size: 18px;
    }
    .ako-cart-subtitle {
      font-size: 14px;
    }
    #shopify-section-{{ section.id }} .product-list__inner:not(.product-list__inner--scroller) {
      margin-left: 2rem;
    }
    .ako-card-button-wrapper-mobile {
      display: block;
    }
    .ako-cart-img-wrapper:hover .ako-card-button-wrapper {
      opacity: 0;
    }
    .ako-card-button-wrapper-mobile .ako-btn {
      font-size: 12px;
    }
  }
</style>

<section class="section">
  <div class="section__color-wrapper">
    <div class="container">
      {%- if section.blocks.size > 1 or section.settings.title != blank or section.settings.subheading != blank or section.settings.content != blank -%}
        <header class="section__header {% if section.settings.content != blank %}section__header--tight{% endif %}">
          {%- if section.settings.title != blank or section.settings.subheading != blank or section.settings.content != blank -%}
            <div class="text-container">
              {%- if section.settings.subheading != blank -%}
                <h2 class="heading heading--small">{{ section.settings.subheading }}</h2>
              {%- endif -%}

              {%- if section.settings.title != blank -%}
                <h3 class="heading h2">{{ section.settings.title }}</h3>
              {%- endif -%}
            </div>
          {%- endif -%}

          {%- if all_tabs.size > 1 -%}
            <tabs-nav class="tabs-nav tabs-nav--center tabs-nav--edge2edge">
              <scrollable-content class="tabs-nav__scroller hide-scrollbar">
                <div class="tabs-nav__scroller-inner">
                  <div class="tabs-nav__item-list">
                    {%- for tab in all_tabs -%}
                      {%- capture on_boarding_title -%}{{ 'general.onboarding.collection_title' | t }} {{ forloop.index }}{%- endcapture -%}

                      <button type="button" class="tabs-nav__item heading heading--small" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="block-{{- tab -}}" {{ block.shopify_attributes }}>
                        {{- tab | default: on_boarding_title -}}
                      </button>
                    {%- endfor -%}
                  </div>
                </div>
              </scrollable-content>
            </tabs-nav>
          {%- endif -%}
        </header>
      {%- endif -%}

      <div class="featured-collections">
        {%- for tab in all_tabs -%}
          <product-list {% unless forloop.first %}hidden{% endunless %} id="block-{{- tab -}}" class="product-list product-list--center">
            <div class="scroller">
              <div class="product-list__inner">
                {% for block in section.blocks %}

                  {% assign borderRadius = section.settings.button_border_radius %}
                  {% assign btnOutlineClass = section.settings.button_outline %}
                  {%- capture buttons -%}
                    {%- if block.settings.button_1_text != blank and btnOutlineClass -%}
                      <a href="{{ block.settings.button_1_link }}" class="ako-btn ako-btn-outline">{{ block.settings.button_1_text | escape }}</a>
                    {%- elsif block.settings.button_1_text != blank -%}
                      <a href="{{ block.settings.button_1_link }}" class="ako-btn">{{ block.settings.button_1_text | escape }}</a>
                    {%- endif -%}

                    {%- if block.settings.button_2_text != blank and btnOutlineClass -%}
                      <a href="{{ block.settings.button_2_link }}" class="ako-btn ako-btn-outline">{{ block.settings.button_2_text | escape }}</a>
                    {% elsif block.settings.button_2_text != blank %}
                      <a href="{{ block.settings.button_2_link }}" class="ako-btn">{{ block.settings.button_2_text | escape }}</a>
                    {%- endif -%}
                  {%- endcapture -%}

                  {% if block.settings.belong_tab == tab %}
                    <div class="ako-card">
                      <div class="ako-cart-img-wrapper">
                        {% if block.settings.item_image != nil %}
                          <img src="{{ block.settings.item_image | image_url: width: 450 }}" alt="{{ tab }} collection">
                        {% endif %}
                        {% if buttons != empty %}
                        <div class="ako-card-button-wrapper {% if borderRadius %}ako-button-radius{%- endif -%}">
                        {{- buttons -}}
                        </div>
                        {% endif %}
                      </div>
                      <div class="ako-card-info">
                        <h5 class="ako-card-title">
                        {{ block.settings.card_heading }}
                        </h5>
                        <h6 class="ako-card-subtitle">
                        {{ block.settings.card_subheading }}
                        </h6>
                        <div class="ako-card-button-wrapper-mobile {% if borderRadius %}ako-button-radius{%- endif -%}">
                        {{- buttons -}}
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </product-list>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Ako Featured collections",
  "class": "shopify-section--ako-featured-collections",
  "max_blocks": 15,
  "blocks": [
    {
      "type": "collection-item",
      "name": "Collection Item",
      "settings": [
        {
          "type": "text",
          "id": "belong_tab",
          "label": "Under Tab Name",
          "info": "屬於哪個Tab Name"
        },
        {
          "type": "image_picker",
          "id": "item_image",
          "label": "Item Image"
        },
        {
          "type": "text",
          "id": "card_heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "card_subheading",
          "label": "Sub Heading"
        },
        {
          "type": "text",
          "id": "button_1_text",
          "label": "Button 1 text"
        },
        {
          "type": "url",
          "id": "button_1_link",
          "label": "Button 1 link"
        },
        {
          "type": "text",
          "id": "button_2_text",
          "label": "Button 2 text"
        },
        {
          "type": "url",
          "id": "button_2_link",
          "label": "Button 2 link"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "all_tabs",
      "label": "Tab Names",
      "info": "用逗號隔開每個Tab Name。逗號前後不要空格。",
      "default": "防水材質,舒適穿搭,城市通勤"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Your title"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Collection"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "button_background",
      "label": "Button background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "button_hover_bg",
      "label": "Button Hover Background"
    },
    {
      "type": "color",
      "id": "button_hover_text",
      "label": "Button Hover Text"
    },
    {
      "type": "checkbox",
      "id": "button_outline",
      "label": "Outlined Button",
      "info": "內裏不填色的按鈕，外框線會是 Button Background 的色號",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "button_border_radius",
      "label": "Border-Radius Button",
      "info": "圓角造型按鈕",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Ako Featured collections",
      "blocks": [
        {
          "type": "collection-item"
        }
      ],
      "settings": {}
    }
  ]
}
{% endschema %}